@font-face {
    font-family: "Gogh";
    src: url('../fonts/Gogh-ExtraBold.otf');
}

@font-face {
  font-family: "Raleway Bold";
  src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
  font-family: "Raleway Regular";
  src: url('../fonts/Raleway-Regular.ttf');
}