// Main
  // Color1
$Main: #14CCCC;
$Dark:#11A6A6;
$Light:#17E5E5;
  // Gray
$Black:#030D0D;
$Dark-gray:#3D4040;
$Light-gray:#DAF2F2;
$Lighter:#E1FAFA;
$White:#FFFFFF;
// Input
  // Primary
  $Error:#FF6666;
// Other
  // Social
  $Vk:#0077FF;
  $Tg:#27A6E5;


$padding-mobile: 16px;
$padding-tablet: 16px;
$padding-hd: 45px;
$padding-fullhd: 250px;
$mobile-width: 374px;
$tablet-width: 768px;
$hd-width: 1366px;
$fullhd-width: 1920px;

$Gogh:"Gogh", sans-serif;
$Raleway-Bold:"Raleway Bold", sans-serif;
$Raleway-Regular:"Raleway Regular", sans-serif;