<section class="faq" id="faq">
    <div class="faq_container">
        <h2 class="faq__title">
            Ответы на вопросы
        </h2>
        <div class="faq__wrapper">
        <ul class="faq__list-one">
            <li class="faq__item">
                <p class="faq__item-question">У вас много проектов?</p>
                <p class="faq__item-answer">Достаточно,чтобы работать и получать удовольствие от работы)</p>
                <a href="" class="faq__item-link" alt="раскрыть вопрос">
                </a>
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Есть ли карьерный рост?</p>
                <p class="faq__item-answer"><br>
                Карьерный рост есть,но он зависит только от тебя.Никто специально тянуть не будет.</p>
                <a href="" class="faq__item-link" alt="раскрыть вопрос">
                </a>
        </li>
            <li class="faq__item">
                <p class="faq__item-question">У вас большой штат?</p>
                <p class="faq__item-answer">Штат небольшой</p>
                <a href="" class="faq__item-link" alt="раскрыть вопрос">
                </a>
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Какие цели у вашей студии?</p>
                <p class="faq__item-answer">Развивать свои продукты в среднем ценовом сегменте.
                    Занять не занятую нишу отличных сайтов по адекватной цене.</p>
                    <a href="" class="faq__item-link" alt="раскрыть вопрос">
                    </a>
            </li>
        </ul>
        </div>
    </div>
</section>