<section class="form" id="form">
    <div class="form__container">
        <h2 class="form__tittle">Форма ОС</h2>
        <h3 class="form__subtittle">Сверстай форму обратной связи. Будет круто, если заявку будут приходить сюда: a@growtask.ru</h3>
        <form action="" class="form__wrapper">
            <div class="form__item">
                <label for="form__item-question" class="form__item-label"></label>
                <input type="text" id="form__item-question" class="form__item-input" name="user__question" placeholder="Напиши вопрос*">
            </div>
            <div class="form__item">
                <label for="form__item-mail" class="form__item-label"></label>
                <input type="text" id="form__item-mail" class="form__item-input" name="user__mail" placeholder="Телефон или почта*">
            </div>
            <div class="form__item">
                <label for="form__item-name" class="form__item-label"></label>
                <input type="text" id="form__item-name" class="form__item-input" name="user__name" placeholder="Твоё имя*">
            </div>
            <div class="form__item">
                <label for="form__item-social" class="form__item-label"></label>
                <input type="text" id="form__item-social" class="form__item-input" name="user__social" placeholder="Соц.сеть или мессенджер">
            </div>
            <div class="form__item">
                <input type="checkbox" id="form__checkbox" class="form__checkbox">
                <label for="form__checkbox" class="form__checkbox-label">Согласие с политикой</label>
            </div>
            <a href="" class="form__button" type="submit">Отправить заявку</a>
        </form>
        <div class="form__social">
            <h4 class="form__social-title">Не забудь вставить соц.сети</h4>
            <ul class="form__social-list">
                <li class="form__social-item">
                    <a href="https://vk.com/growtask" class="form__social-link">
                      <img src="app/images/src/header/vk.svg" alt="Логотип вк">
                    </a>
                </li>
                <li class="form__social-item">
                  <a href="https://t.me/growtask" class="form__social-link">
                    <img src="app/images/src/header/telegram.svg" alt="Логотип телеграм">
                  </a>
              </li>
              </ul>
        </div>
    </div>
</section>