<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo header__logo--closed" id="logo">
      <div class="logo-container">
          <img class="header__logo-image" src="/app/images/src/header/logo.svg" alt="Логотип компании">
          <span class="hidden-text">Наверх</span>
      </div>
  </a>  
    <a href="#" class="header__menu header__menu--closed">
      Меню
    </a>
    <button class="header__toggle header__toggle--closed" type="button">
      <span class="visually-hidden">Открыть меню</span>
      <span class="header__toggle-burger"></span>
    </button>
  </div>
    <nav class="header__navigation header__navigation--closed">
      <ul class="header__navigation-list">
        <li class="header__navigation-item">
            <a href="#" class="header__navigation-link">Текст и картинки</a>
        </li>
        <li class="header__navigation-item">
            <a href="#" class="header__navigation-link">Пример слайдера</a>
        </li>
        <li class="header__navigation-item">
            <a href="#" class="header__navigation-link">Кнопки и картинки</a>
        </li>
        <li class="header__navigation-item">
          <a href="#" class="header__navigation-link">Вопрос - ответ</a>
        </li>
        <li class="header__navigation-item header__navigation-item-button">
          <a href="#form" class="header__navigation-link header__navigation-link-button">К форме</a>
        </li>
      </ul>  
      <ul class="header__social-list">
        <li class="header__social-item">
            <a href="https://vk.com/growtask" class="header__social-link">
              <img src="/app/images/src/header/vk.svg" alt="Логотип вк">
            </a>
        </li>
        <li class="header__social-item">
          <a href="https://t.me/growtask" class="header__social-link">
            <img src="/app/images/src/header/telegram.svg" alt="Логотип телеграм">
          </a>
      </li>
      </ul>
    </nav>
</header>