<main class="homepage">
    <div class="homepage__container">
        <div class="homepage__head">
            <h1 class="homepage__title">Покажи нам чудеса <span>своей вёрстки</span></h1>
            <p class="homepage__subtitle">Это текстовое задание, которое нужно просто и грамотно сверстать. Мы уверены, что у тебя всё получится.</p>
        </div>
        <div class="homepage__wrapper">
            <img src="/app/images/src/homepage/picture-1.png" alt="картинка 1" class="homepage__picture">
            <img src="/app/images/src/homepage/picture-2.png" alt="картинка 2" class="homepage__picture">
            <img src="/app/images/src/homepage/picture-3.png" alt="картинка 3" class="homepage__picture">
        </div>
        <div class="homepage__block">
          <p class="homepage__block-text">Покажи скролл <span>до формы:</span></p>
          <a href="#form" class="homepage__block-button" id="homepage__block-button">К форме</a>
        </div>
    </div>
</main>