<section class="picture">
<div class="picture__shell">
    <div class="picture__wrapper">
        <ul class="picture__list">
            <li class="picture__item picture-active">
                    <img src="app/images/src/picture/image-1.jpg" alt="картинка 1" class="picture__image">
            </li>
            <li class="picture__item">
                    <img src="app/images/src/picture/image-2.jpg" alt="картинка 2" class="picture__image">
            </li>
            <li class="picture__item">
                    <img src="app/images/src/picture/image-3.jpg" alt="картинка 3" class="picture__image">
            </li>
        </ul>
    </div>
    <div class="picture__buttons">
        <ul class="picture__buttons-list">
            <li class="picture__buttons-item">
                <a href="" class="picture__buttons-link picture__buttons-link-1 button-active">
                    Картинка 1
                </a>
            </li>
            <li class="picture__buttons-item">
                <a href="" class="picture__buttons-link picture__buttons-link-2">
                    Картинка 2
                </a>
            </li>
            <li class="picture__buttons-item">
                <a href="" class="picture__buttons-link picture__buttons-link-3">
                    Картинка 3
                </a>
            </li>
        </ul>
    </div>
</div>
</section>