<section class="slider">
   <div class="slider__container">
      <h2 class="slider__title">
        Сверстай слайдер
      </h2>
      <ul class="slider__list slider__wrapper">
      <li class="steps__item slider__slide">
        <img src="app/images/src/slider/image-1.png" alt="картинка 1" class="slider__slide-image">
        <h3 class="slider__slide-title">Северная корона</h3>
      </li>
      <li class="steps__item slider__slide">
        <img src="app/images/src/slider/image-2.png" alt="картинка 2" class="slider__slide-image">
        <h3 class="slider__slide-title">Moscow barbering school</h3>
      </li>
      <li class="steps__item slider__slide">
        <img src="app/images/src/slider/image-3.png" alt="картинка 3" class="slider__slide-image">
        <h3 class="slider__slide-title">Rh store</h3>
      </li>
      <li class="steps__item slider__slide">
        <img src="app/images/src/slider/image-4.png" alt="картинка 4" class="slider__slide-image">
        <h3 class="slider__slide-title">Poolspecial</h3>
      </li>
      <li class="steps__item slider__slide">
        <img src="app/images/src/slider/image-5.jpg" alt="картинка 5" class="slider__slide-image">
        <h3 class="slider__slide-title">Rh prod</h3>
      </li>
      </ul>
      <div class="slider__buttons">
       <a class="slider__button slider__button-left" href="#">
         <img src="app/images/src/slider/arrow.svg" alt="кнопка влево" class="slider__button--image-left">
       </a>
       <a class="slider__button slider__button-right" href="#">
         <img src="app/images/src/slider/arrow.svg" alt="кнопка вправо" class="slider__butto--image-right">
       </a>
     </div>
   </div>
   <div id="slider__modal" class="slider__modal">
    <span class="button-close" alt="Кнопка закрытия"></span>
    <img id="modalImage" src="" alt="Увеличенное изображение">
   </div>
</section>