<section class="vacancy">
  <div class="vacancy__shell">
    <div class="vacancy__container">
        <div class="vacancy-title__block">
        <h2 class="vacancy__title">Про вакансию</h2>
        <p class="vacancy__subtitle">Мы ищем аккуратного верстальщика, который хочет учиться и развиваться. С этим мы, конечно же, поможем.
            <br><br>
            Напомним про условия:
        </p>
        </div>
        <div class="vacancy__incert">
        <div class="vacancy__block">
            <p class="vacancy__block-text">20 000</p>
            <p class="vacancy__block-subtext">Твой оклад на время стажировки (Возможны премии)</p>
        </div>
        <div class="vacancy__block">
            <p class="vacancy__block-text">5/2</p>
            <p class="vacancy__block-subtext">Рабочий график</p>
        </div>
        <div class="vacancy__block">
            <p class="vacancy__block-text">8 ч</p>
            <p class="vacancy__block-subtext">Рабочий день</p>
        </div>
        </div>
    </div>
    <div class="vacancy__wrapper">
        <div class="vacancy__wrapper-photo">
        </div>
        <div class="vacancy__wrapper-photo">
        </div>
        <div class="vacancy__wrapper-photo">
        </div>
    </div>
  </div>
</section>