.form {
    background-color: $Black;
    padding: 80px 0;
    @media (min-width: $hd-width) { 
        padding: 160px $padding-hd
    }
    @media (min-width: $fullhd-width) { 
        padding: 160px $padding-fullhd;
    }
}
.form__tittle {
    font-size: 28px;
    font-family: $Gogh;
    line-height: 28px;
    font-weight: 800;
    text-align: left;
    letter-spacing: 0em;
    color: $White;
    margin-bottom: 20px;
    @media (min-width: $hd-width) {
        font-size: 40px;
        line-height: 40px;
    }
}
.form__subtittle {
    font-size: 16px;
    font-family: $Raleway-Regular;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0em;
    color: $White;
    margin-bottom: 40px;
    @media (min-width: $tablet-width) { 
        width: 342px;
    }
    @media (min-width: $hd-width) { 
        width: 400px;
    }
    @media (min-width: $fullhd-width) { 
        width: 480px;
    }
}
.form__container {
    background-image: url(/app/images/src/form/background.png);
    background-repeat: no-repeat;
    width: $mobile-width;
    margin: 0 auto;
    padding: 40px $padding-mobile;
    border-radius: 8px;
    @media (min-width: $tablet-width) { 
        background-image: url(/app/images/src/form/background-tablet.png);
        width: $tablet-width;
    }
    @media (min-width: $hd-width) { 
        background-image: url(/app/images/src/form/background-hd.png);
        width: 1276px;
        position: relative;
        padding: 60px;
    }
    @media (min-width: $fullhd-width) { 
        background-image: url(/app/images/src/form/background-fullhd.png);
        width: 1420px;
        padding: 60px;
    }
}
.form__wrapper {
    width: 342px;
    background-color: $White;
    padding: 20px 16px;
    border-radius: 8px;
    @media (min-width: $tablet-width) {
        padding: 20px;
        width: 736px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 12px;
        row-gap: 12px;
    }
    @media (min-width: $hd-width) { 
        width: 708px;
        padding: 40px;
        position: absolute;
        top: 60px;
        right: 60px;
    }
    @media (min-width: $fullhd-width) { 
        width: 780px;
        padding: 40px;
        right: 60px;
    }
}
.form__item:nth-child(5) {
    @media (min-width: $tablet-width) { 
        padding-top: 22px;
    }
}
.form__item-input {
    padding: 12px 16px;
    width: 100%;
    border: 2px solid $Light-gray;
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 16px;
    font-family: $Raleway-Regular;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0em;
    color: $Black;
}
.form__item-input:hover {
    border: 2px solid $Light;
}
.form__item-input:hover::placeholder {
    color: $Black;
    caret-color:$Black;
}
.form__item-input:focus {
    border: 2px solid $Dark;
}
.form__item-input:focus::placeholder {
    color: $Black;
    caret-color:$Black;
}
.error {
    border: 2px solid $Error;
    color: $Error;
}
.error::placeholder {
    color: $Error;
}
.form__item-input-active::placeholder {
    font-family: $Raleway-Regular;
}
.form__item-input-active {
    font-family: $Raleway-Bold;
}

.form__item-input:last-child {
    margin-bottom: 20px;
    @media (min-width: $tablet-width) { 
        margin: 0;
    }
}
.form__checkbox-label {
    font-size: 14px;
    font-family: $Raleway-Regular;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    position: relative;
    letter-spacing: 0em;
    margin-left: 32px;
    cursor: pointer;
    @media (min-width: $tablet-width) { 
        margin-left: -145px;
    }
    @media (min-width: $tablet-width) { 
        margin-left: -105px;
    }
}
.form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
.form__checkbox-label::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid  $Light-gray;
    border-radius: 3px;
    left: -30px;
    top: -2px;
    position: absolute;   
}
.form__checkbox:hover+.form__checkbox-label::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -30px;
    top: -2px;
    background-image: url(/app/images/src/form/check.svg);
}
// .form__checkbox:focus+.form__checkbox-label::before {
//     position: absolute;
//     content: "";
//     width: 20px;
//     height: 20px;
//     left: -30px;
//     top: -2px;
//     background-image: url(/app/images/src/form/check-hover.svg);
// }
.form__checkbox:checked+.form__checkbox-label::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -30px;
    top: -2px;
    background-image: url(/app/images/src/form/check-focus.svg);
}
.form__button {
    padding: 13.5px;
    background-color: $Main;
    width: 100%;
    color: $White;
    border-radius: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: $Raleway-Regular;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0em;
    margin-top: 16px;
    @media (min-width: $tablet-width) { 
        width: 164px;
        grid-column-start: 1; grid-row-start: 3;
        margin-top: 8px;
    }
}
.form__button:hover {
    background-color:$Light;
}
.form__button:focus {
    background-color:$Dark;
}
.form__social-title {
    font-size: 20px;
    font-family: $Gogh;
    line-height: 20px;
    font-weight: 800;
    text-align: left;
    letter-spacing: 0em;
    color: $White;
    margin: 32px 0;
}
.form__social-list {
    display: flex;
    margin: 0 auto;
    width: 108px;
    @media (min-width: $tablet-width) { 
        margin: 0;
    }
}
.form__social-link{
    width: 48px;
    height: 48px;
    box-shadow: 0px 0px 20px 0px rgba(13, 64, 64, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 16px;
    background-color: $White;
}
.form__social-link:hover,
.form__social-link:focus {
    background-color: $Lighter;
}