.homepage__container {
    min-width: $mobile-width;
    padding: 60px $padding-mobile 80px $padding-mobile;
    @media (min-width: $tablet-width) { 
        min-width: $tablet-width;
        padding: 60px $padding-tablet 80px $padding-tablet;
        display: grid;
        grid-template-columns: 1fr 360px;
        grid-template-rows: 156px 128px;
        row-gap: 60px;
        column-gap: 34px;
    }
}
.homepage__title {
  font-family: $Gogh;
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: $Black;
  margin-bottom: 20px;
}
.homepage__title span {
  color: $Dark;
}
.homepage__subtitle {
  font-family: $Raleway-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $Dark-gray;
  margin-bottom: 40px;
}
.homepage__picture {
    width: 163px;
    height: 163px;
    border-radius: 8px;
    @media (min-width: $tablet-width) {
        width: 172px;
        height: 172px;
    }
}
.homepage__wrapper {
    display: grid;
    grid-template-columns: 163px 163px;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
    margin: 0 auto 40px auto;
    width: 342px;
    // @media (min-width: $tablet-width) {
    //     grid-template-columns: 172px 172px;
    //     grid-template-rows: 1fr 1fr;
    //     width: 360px;
    //     margin: 0;
    //     display: grid;
    // }
}
.homepage__picture:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    align-self: center;
}
.homepage__block {
    padding: 20px;
    background-color: $Black;
    border-radius: 8px;
    width: 100%;
}
.homepage__block-text {
    font-family: $Gogh;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: $White;
    margin-bottom: 20px;
}
.homepage__block-text span{
   color: $Light;
}
.homepage__block-button {
    background-color: $Main;
    text-align: center;
    padding: 13.5px 0;
    border-radius: 4px;
    color: $White;
    font-family: $Raleway-Regular;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    width: 100%;
    display: block;
}